.nav {
  height: 70px;
  border-bottom: 2px solid var(--border-color);
  display: flex;
  align-items: center;
}
@media (max-width: 769px) {
  .nav {
    display: none;
  }
}
.menu {
  display: flex;
  gap: 20px;
  color: var(--text-primary);
}

.burgerContainer {
  display: flex;
  padding: 10px;
  @media (min-width: 769px) {
    display: none;
  }
}
