$font-primary: "Arial", sans-serif;
$bg-color: #ffffff;
$text-primary: #2a2b42;
$text-secondary: #ffffff;
$text-tertiary: #999;
$color-accent: #d00711;
$color-primary: #15161d;
$color-secondary: #1e1f29;
$border-color: #f3f4f7;
$border-radius: 7px;
$color-dangerous: rgb(150, 0, 0);
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1200px;

