@import "../../styles/variables.scss";

.footer {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-top: 4px solid var(--color-accent);
  color: var(--text-secondary);
  font-size: 25px;
  @media (max-width: $bp-tablet) {
    font-size: 16px;
  }
}
